*, *::after, *::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
*::selection{
    background-color: rgba(63, 63, 63, 0.945);
    color: rgb(255, 255, 255)
}

body{
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow-x: hidden;
}
.App{
    background: url(../images/bg-body2-\(milad-fakurian-unsplash\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    overflow-x: hidden;
    width: 100%;
    height: auto;
}

#recoveryPass:hover{
    border-bottom: 1px solid rgba(114, 114, 114, 0.945);
}
