.body-404{
    position: relative;
    z-index: 1;
    height: 520px;
    width: 560px;
    max-width: 90%;
    background-color: #dad8d8;
}

.text-shadow{
    text-shadow: 0 0 3px rgba(255, 255, 255);
}

.svg-404{
    position: absolute;
    width: 50vw;
    height: auto;
    max-width: 100%;
    top: 0;
    left: 0;
    z-index: 0;
}